 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> navbar</title>
    <!-- <link rel="stylesheet" href="newstyle.css"/> -->
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>
      <nav class="navbar">
    <div class="navbar-logo"><a href="#">CRICARENA</a></div>
    <ul class="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/archives/">Archive</a></li>
      <li><a href="/quiz/">Quiz</a></li>
      <li><a href="/sportscal/">Calendar</a></li>
      <li><a href="/comparison/">Comparison</a></li>
      <li><a href="#">Tactics</a></li>
      <li><a href="/stadium/">Stadium</a></li>
      <li><a href="/news/">News</a></li>
      <li class="dropdown">
        <a href="#">IPL ▼</a>
        <ul class="dropdown-menu">
          <li><a href="/ipl/?team=csk">CSK</a></li>
          <li><a href="/ipl/?team=mi">MI</a></li>
          <li><a href="/ipl/?team=rcb">RCB</a></li>
          <li><a href="/ipl/?team=kkr">KKR</a></li>
          <li><a href="/ipl/?team=rr">RR</a></li>
          <li><a href="/ipl/?team=dc">DC</a></li>
          <li><a href="/ipl/?team=pbks">PBKS</a></li>
          <li><a href="/ipl/?team=srh">SRH</a></li>
          <li><a href="/ipl/?team=lsg">LSG</a></li>
          <li><a href="/ipl/?team=gt">GT</a></li>
        </ul>
      </li>
    </ul>
    <div class="navbar-search">
      <input type="text" placeholder="Search...">
    </div>
  </nav>

</body>
</html>