{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'react/vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports</title>
    <script type="module" crossorigin src="{% static 'react/assets/index-B-zHTAZN.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'react/assets/index-Dory7bMy.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
