{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cricket News</title>
  <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>

  {% comment %} <header>
    <h1>📰 Cricket News Portal</h1>
  </header> {% endcomment %}

  {% include 'news/navbar.html' %}

  <main class="main-content" >
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 CricketNews</p>
  </footer>
  <button id="scrollToTopBtn" class="back-to-top">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#19e86c"><path d="M412-114v-470L210-383l-96-97 366-366 366 366-96 98-202-202v470H412Z"/></svg>
        </button>

<script> const scrollToTopBtn = document.getElementById("scrollToTopBtn");

  // Show/hide button on scroll
  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      scrollToTopBtn.style.display = "block";
    } else {
      scrollToTopBtn.style.display = "none";
    }
  });

  // Smooth scroll to top
  scrollToTopBtn.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });</script>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js">
  </script>
  {% block scripts %}{% endblock %}

</body>
</html>
