body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #fff;
  line-height: 1.6;
}

header {
  background-color: #1db954;
  padding: 20px;
  text-align: center;
  color: #fff;
}

main {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.tactic-section {
  margin-bottom: 50px;
}

.image-box {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(29, 185, 84, 0.5);
}

.tactic-img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 5px #1db954;
}

.toggle-btn {
  margin: 15px auto;
  display: block;
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.toggle-btn:hover {
  background-color: #17a44b;
}

.details {
  margin-top: 10px;
  display: none;
  font-size: 0.95rem;
  background-color: #181818;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #1db954;
}
